<h3>Burndown on multi-project teams</h3>

<p>If you have several projects under the Scrum team project, and you assign
PBIs &amp; tasks to those child projects (they should also have Scrum module
enabled), then the burndown could be decomposed in several series, one serie
per subproject.</p>
