<h3>Burndown en equipos multi-proyecto</h3>

<p>Si tienes varios proyectos por debajo del proyecto del equipo Scrum, y
asignas EPPs y tareas a esos proyectos hijos (estos han de tener tambi&eacute;n
el m&oacute;dulo de Scrum activo), entonces el burndown puede descomponerse en
varias series, una serie por subproyecto.</p>
