<hr />

<h2>Support this Redmine Scrum plugin</h2>

<p>In order to be an <b>open source &amp; free plugin</b>, I need your
support:</p>

<table style="width: 100%">
  <tr>
    <td align="center">
      <a href="http://www.patreon.com/ociotec" target="_blank">
        <%= image_tag('patreon-logo.png', :plugin => 'scrum') %>
      </a>
    </td>
    <td align="center">
      or
    </td>
    <td align="center">
      <a href="https://www.paypal.me/ociotec/5" target="_blank">
        <%= image_tag('paypal-logo.png', :plugin => 'scrum') %>
      </a>
    </td>
  </tr>
</table>

<p>Kindly regards,<br/>
<a href="https://redmine.ociotec.com/projects/redmine-plugin-scrum"
   target="_blank">Emilio Gonz&aacute;lez Monta&ntilde;a</a></p>
