<hr />

<h2>Apoya este plugin de Scrum para Redmine</h2>

<p>Si quieres que este plugin siga siendo de <b>c&oacute;digo abierto y
gratis</b>, necesito tu apoyo:</p>

<table style="width: 100%">
  <tr>
    <td align="center">
      <a href="http://www.patreon.com/ociotec" target="_blank">
        <%= image_tag('patreon-logo.png', :plugin => 'scrum') %>
      </a>
    </td>
    <td align="center">
      o
    </td>
    <td align="center">
      <a href="https://www.paypal.me/ociotec/5" target="_blank">
        <%= image_tag('paypal-logo.png', :plugin => 'scrum') %>
      </a>
    </td>
  </tr>
</table>

<p>Saludos,<br/>
<a href="https://redmine.ociotec.com/projects/redmine-plugin-scrum"
   target="_blank">Emilio Gonz&aacute;lez Monta&ntilde;a</a></p>
