<h2>Product backlogs project settings help</h2>

<p>In this view you will find the list of product backlogs, usually you'll
create only one product backlog, but it's OK if you create more than one
(i.e. for not clear PBIs, or for technical debt if you prefer to separate them
from regular features...).</p>

<p>You cannot delete a product backlog if it has any issue assigned to it.
This sometimes is difficult to detect because in the product backlog board only
PBI issues in a configured state are rendered. So if the plugin tells you that
the product backlog cannot be deleted, go to issues tab &amp; create a filter
by any tracker, in any state assigned to this product backlog (rendered as
<i>Sprint</i> field).</p>
