<h2>Ayuda de la configuraci&oacute;n de proyecto de pilas de producto</h2>

<p>En esta vista encontrar&aacute;s la lista de pilas de producto, normalmente
crear&aacute;s una sola pila de producto, pero se permite crear m&aacute;s de
una (por ejemplo para EPPs no claros, o para deuda t&eacute;cnica si prefieres
separarlos de otras caracter&iacute;sticas...).</p>

<p>No puedes borrar una pila de producto si tiene peticiones asignadas.
A veces es dificil darse cuenta porque el tablero de la pila de producto
s&oacute;lo muestra las peticiones EPP en unos estados. As&iacute; que si el
plugin puede indicar que la pila no puede ser borrada, ve a la pesta&ntilde;a
de peticiones y crea un filtro por cualquier tipo de petici&oacute;n, en
cualquier estado asignado a esta pila de producto (mostrado como campo
<i>Sprint</i>).</p>
