<h2>Sprints project settings help</h2>

<p>In this view you will find the list of Sprints, Sprints are sorted by
begin &amp; end dates in order to make easier the follow up.</p>

<p>You cannot delete an Sprint if it has any issue assigned to it.
This sometimes is difficult to detect because in the Sprint board only
PBI issues in a configured state are rendered. So if the plugin tells you that
the Sprint cannot be deleted, go to issues tab &amp; create a filter
by any tracker, in any state assigned to this Sprint.</p>
