<h2>Ayuda de la configuraci&oacute;n de proyecto de Sprints</h2>

<p>En esta vista encontrar&aacute;s la lista de Sprints, los Sprints se
ordenan por las fechas de inicio y fin para que sea m&aacute;s f&aacute;cil
su seguimiento</p>

<p>No puedes borrar un Sprint si tiene peticiones asignadas.
A veces es dificil darse cuenta porque el tablero del Sprint
s&oacute;lo muestra las peticiones EPP en unos estados. As&iacute; que si el
plugin puede indicar que el Sprint no puede ser borrado, ve a la pesta&ntilde;a
de peticiones y crea un filtro por cualquier tipo de petici&oacute;n, en
cualquier estado asignado a este Sprint.</p>
