<h2>Ayuda de la pila de producto</h2>

<p>C&oacute;mo usar el formaulario de la pila de producto:</p>
<ul>
  <li><b>Nombre:</b> normalmente algo como <i>Pila de producto</i>.</li>
  <li><b>Descripci&oacute;n:</b> puedes poner aqu&iacute; cualquier
  informaci&oacute;n relevante del equipo.</li>
  <li><b>Compartido:</b> si compartes la pila de producto podr&aacute;s
  asignar EPPs de los proyectos hijos a la pila de producto, esto permite
  el uso de multiples proyectos.</li>
</ul>
