<h2>Ayuda del plan de liberaciones</h2>

<p>En el plan de liberaciones ver&aacute;s una especie de pila de producto
pero centrada en dar informaci&oacute;n de cuando est&aacute; previsto que
cada versi&oacute;n sea liberada.</p>

<p>En esta vista no se pueden editar u ordenar EPPs.</p>

<%= render :partial => 'help/product_backlog/velocity_modes',
           :locals => {:links => links} %>

<h3>Plan de liberaciones en equipos multi-proyecto</h3>

<p>Si tienes varios proyectos bajo el proyecto del equipo Scrum, y asignas
EPPs a esos proyectos hijos (deben tener tambi&eacute;n el
m&oacute;dulo Scrum activo), entonces el plan de liberaciones puede ser filtrado
por subproyecto.</p>
