<h2>Release plan help</h2>

<p>In the release plan you will see a kind of product backlog but focused on
giving information to plan when each version is going to be released.</p>

<p>In this view you cannot edit or sort PBIs.</p>

<%= render :partial => 'help/product_backlog/velocity_modes',
           :locals => {:links => links} %>

<h3>Release plan on multi-project teams</h3>

<p>If you have several projects under the Scrum team project, and you assign
PBIs &amp; tasks to those child projects (they should also have Scrum module
enabled), then the release plan could be filtered by subproject.</p>
