<h3>Working with predictions</h3>

<p>This plugin has three predictions modes:</p>
<ul>
  <li><b>Regular mode</b> (<i>Use all PBIs from last N Sprints to calculate the
  velocity</i>): team velocity is calculated using the media of the closed PBIs
  SPs in the last N Sprints.</li>
  <li><b>Scheduled mode</b> (<i>Only scheduled ones</i>): same as regular mode
  but only the scheduled PBIs will count in the team velocity. Scheduled ones
  are PBIs created before the Sprint starts, others are considered as Sprint
  interruptions, so they will not increase the team velocity.</li>
  <li><b>Custom mode</b>: just play with custom velocity values.</li>
</ul>
