<h3>Trabajando con predicciones</h3>

<p>Este plugin tiene tres modos de predicci&oacute;n:</p>
<ul>
  <li><b>Modo normal</b> (<i>Usa todos los EPPs de los &uacute;ltimos N Sprints
  para calcular la velocidad</i>): la velocidad del equipo es calculada usando
  la media de los PHs de los EPPs cerrados en los &uacute;ltimos N Sprints.</li>
  <li><b>Modo planificaci&oacute;n</b> (<i>s&oacute;lo los planificados</i>):
  igual que el modo normal pero s&oacute;lo los EPPs planificados
  contar&aacute;n en la velocidad del equipo. Los planificados son aqueyos
  EPPs que se crearon antes de que el Sprint empezara, los otros se consideran
  interrupciones del Sprint, as&iacute; que no incrementar&aacute;n la
  velocidad del equipo.</li>
  <li><b>Modo personalizado</b>: sirve para jugar con diferentes valores de
  velocidad.</li>
</ul>
