<%= render :partial => 'scrum/velocity_form',
           :locals => {:url => release_plan_product_backlog_path(@product_backlog),
                       :sprints_count => @sprints_count,
                       :velocity => @velocity,
                       :velocity_type => @velocity_type} %>
<tr>
  <td colspan="3">
    <%= l(:label_release_plan_stats,
          :sps => @total_story_points,
          :pbis => @pbis_with_estimation,
          :pbis_without_sps => @pbis_without_estimation) %>
  </td>
</tr>
