<%= link_to(l(:label_plugin_license), "#", :id => "licenseLink", :class => "icon icon-copy") %>
<div id="licenseDialog">
  <iframe id="licenseIframe" src="http://creativecommons.org/licenses/by-nd/4.0/"></iframe>
</div>

<%= render :partial => "license", :formats => [:js] %>
