<h2>Ayuda de las estad&iacute;sticas de Scrum</h2>

<p>Las estad&iacute;sticas de Scrum muestran informaci&oacute;n de diversos
aspectos del proyecto a nivel global, no s&oacute;lo relativas a un s&oacute;lo
Sprint.</p>

<p>Aqu&iacute; encontrar&aacute;s ayuda para responder a preguntas como:</p>
<ul>
  <li>La velocidad del equipo a lo largo de los Sprints.</li>
  <li>Cu&aacute;ntas horas son un punto de historia a lo largo de los
  Sprints.</li>
  <li>Cu&aacute;ntos PHs gastamos en cada categor&iacute;a del proyecto o por
  tipo de EPP.</li>
  <li>Cu&aacute;nto tiempo gastamos en cada actividad del proyecto.</li>
</ul>
