<h2>Scrum stats help</h2>

<p>Scrum stats shows information about different aspects of the global project,
not only regarding a single Sprint.</p>

<p>Here you will find help to answer questions like:</p>
<ul>
  <li>Team velocity along the Sprints.</li>
  <li>How many hours mean an story point along the Sprints.</li>
  <li>How much SPs do we spend in each project issue category or PBI type.</li>
  <li>How much time do we spent by project activity.</li>
</ul>
