<h2>Sprint edit estimated effort help</h2>

<p>For each team member (working &amp; doing tasks) should estimate the time
that is going to allocate for the project each day of the Sprint.</p>

<p>Left blank the cell if no work is going to be done in a day (i.e. weekend
days) to avoid burndown by effort to render that day.</p>

<p>Decimals or even 0.0 are allowed values.</p>
