<h2>Ayuda del Sprint</h2>

<p>C&oacute;mo usar el formulario del Sprint:</p>
<ul>
  <li><b>Nombre:</b> normalmente algo como <i>Sprint 14</i>.</li>
  <li><b>Descripci&oacute;n:</b> puedes poner aqu&iacute; el objetivo del Sprint
  o cualquier otra informaci&oacute;n relevante para el equipo.</li>
  <li><b>Fechas de inicio y fin:</b> estas fechas se usan para calcular cosas
  como los burndowns o la tabla de esfuerzo estimado.</li>
  <li><b>Estado:</b> un Sprint puede estar abierto o cerrado, los EPPs
  s&oacute;lo pueden ser asignados a Sprints abiertos.</li>
  <li><b>Compartido:</b> si compartes un Sprint se podr&aacute; asignar EPPs de
  proyectos hijos a este Sprint, esto habilita el uso de multi-proyecto.</li>
</ul>
