<h2>Sprint help</h2>

<p>How to use the Sprint form:</p>
<ul>
  <li><b>Name:</b> usually something like <i>Sprint 14</i>.</li>
  <li><b>Description:</b> you can put here the Sprint objective or any other
  relevant information for the team.</li>
  <li><b>Start &amp; end dates:</b> these dates are used to calculate things
  like burndowns, estimated effort table.</li>
  <li><b>State:</b> an Sprint can be open or closed, PBIs can be only assigned
  to open Sprints.</li>
  <li><b>Shared:</b> if you share an Sprint you will be able to assign PBIs of
  child projects to this Sprint, this will enable multi-project usage.</li>
</ul>
