<h2>Sprint stats help</h2>

<p>Sprint stats shows information about different aspects of the Sprint, some
of them will require to use time effort estimations, effort logging, project
categories...</p>

<p>Use this information to get feedback of your Sprint &amp; use it in your
Scrum retrospectives to answer things like:</p>
<ul>
  <li>How much effort/SPs did I spend on bugs? maybe we need to prioritize
  technical debt.</li>
  <li>Do I spend enough time on reviews? maybe too much?</li>
  <li>Did everyone in the team achieved to do all the estimated time? is anyone
  not doing reviews?</li>
  <li>Do we put the effort in planned PBIs (created at the beginning of the
  Sprint)? or maybe do we have a lot of interruptions (PBIs created in the
  middle of the Sprint)?</li>
  <li>...</li>
</ul>
