<h2>Ayuda de las estad&iacute;sticas del Sprint</h2>

<p>Las estad&iacute;sticas del Sprint muestran informaci&oacute;n sobre
diversos aspectos del Sprint, algunos requiren el suo de estimaciones de
esfuerzo de tiempo, imputar esfuerzos, categor&iacute;s de proyecto...</p>

<p>Usa esta informaci&oacute;n para conseguir feedback de de tu Sprint y usarla
en tus retrospectivas de Scrum para contestar a preguntas como:</p>
<ul>
  <li>¿Cu&aacute;nto esfuerzo/PHs gastamos en arreglar errores? puede que se
  necesite priorizar la deuda t&eacute;cnica.</li>
  <li>¿Invertimos suficiente tiempo en revisiones? o ¿quiz&aacute;s
  demasiado?</li>
  <li>¿Todas los miembros del equipo han conseguido dedicar el tiempo estimado?
  ¿hay algui&eacute;n que no est&eacute; haciendo revisiones?</li>
  <li>¿Ponemos el esfuerzo en EPPs planificados (creados antes de la fecha de
  inicio del Sprint)? o ¿quiz&aacute;s tenemos muchas interrupciones (EPPs
  creados a mitad del Sprint)?</li>
  <li>...</li>
</ul>
