<%= render :partial => "scrum/issue_attributes", :formats => [:html],
           :locals => {:f => f, :issue => issue} %>

<p class="buttons">
  <%= submit_tag l(:button_create_and_continue), :name => "create_and_continue", :disable_with => l(:label_loading) %>
  <%= submit_tag l(:button_create), :name => "create", :disable_with => l(:label_loading) %>
  <%= submit_tag l(:button_cancel), :name => nil, :onclick => "hideModal(this);", :type => "button" %>
</p>